*, *::after, *::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-V18-300-italic.woff") format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-V18-600.woff") format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../font/Montserrat-V18-800.woff") format("woff");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 24px 0;
    background-color: #b4dfe5;
    opacity: 75%;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child{
    margin-right: 0;
}

.header-link {
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.header-link:hover, .header-link:active {
    color: #0096ff;
    transition: 0.3s ease-in-out;
}

.intro {
    min-height: 100vh;
    background-image: url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-title {
    padding-top: 200px;
    font-size: 50pt;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

.intro-subtitle {
    font-weight: 300;
    color: white;
    font-style: italic;
    margin-bottom: 80px;
}

.projects-button {
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 0px 2px rgba(9,4,2,0.24);
    font-size: 12pt;
    font-weight: 600;
    font-style: normal;
    background-color: #0096ff;
    text-decoration: none;
}

.our-projects {
    background-color: #fff8e8;
}

#hw-flexbox-title {
    padding-top: 40px;
    text-align: center;
    font-size: 40pt;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}

.hw-flexbox-subtitle {
    font-weight: 300;
    color: black;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.benefits-title {
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
}

.benefits-subtitle {
    font-weight: 600;
    font-style: normal;
}

.benefits-about {
    font-weight: 300;
    font-style: italic;
}

.boy-animated {
    border: none;
    background: url(/img/boy1.png);
    display: block;
    width: 250px;
    height: 250px;
    overflow: visible;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.brick {
    width: 50px;
    height: 50px;
    opacity:0%;
    transform: rotate(-60deg) translate(40px, 150px);
    overflow: hidden;
}

.brick img {
    position: absolute;
    margin: -175px 0 0 -150px;
}

.boy-animated:hover {
    background: url(/img/boy2.png);
    overflow: hidden;
    border: none;
}

.boy-animated:hover .brick{
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 100%;
}

.text-1 {
    position: absolute;
    top: 25px;
    left: 75px;
    font-size: 20px;
    color: black;
    opacity: 0%;
    font-weight: 600;
    font-style: normal;
}

.boy-animated:hover .text-1{
    transition: opacity 0.7s ease-in-out;
    transition-delay: 1s;
    opacity: 100%;
}

.boy-animated:active{
    background: url(/img/boy3.png);
    overflow: visible;
    border: none;
    animation: shaking 1.5s infinite;
}

@keyframes shaking {
    0% {transform: translateX(0px)}
    25%  {transform: translateX(-15px)}
    50%  {transform: translateX(15px)}
    75%  {transform: translateX(-15px)}
    100% {transform: translateX(0px)}
}

.text-2 {
    position: absolute;
    top: 25px;
    left: 64px;
    font-size: 20px;
    color: black;
    opacity: 0%;
    font-weight: 600;
    font-style: normal;
}

.boy-animated:active .text-2{
    transition: opacity 0.3s ease-in-out;
    opacity: 100%;
}

.boy-animated:active .text-1{
    transition: opacity 0.1s ease-in-out;
    opacity: 0%;
}

.boy-animated:active .brick {
    width: 50px;
    height: 50px;
    top: 165px;
    left: 150px;
    border: none;
    animation: strike 3s infinite;
}

@keyframes strike {
    0% {transform: rotate(-60deg); top: 165px; left: 150px;}
    100% {transform: rotate(660deg); top: -80px; left: 320px;}
}

.footer-title {
    margin-top: 30px;
}


